/*{
	border:1px solid red;  {to check boxes}*/

body {
	padding-top: 50px;
	box-sizing: border-box;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}


/* navigation...*/
.nav {
	padding-right: 15px;
	background-color: #222222;
	min-height: 50px;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1;
	margin-bottom: 20px;
	font-size: 18px;
}

.navtable:visited {
	text-decoration: none;
	color: white;
}

.searchbox {
	float: right;
	max-width: 400px;
}

.inputbox {
	border-radius: 5px;
	padding: 16px;
	height: 16px;
	width: 215px;
	margin-right: 5px;
	vertical-align: middle;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 19px;
	padding-bottom: 15px;
}

.btn {
	border-radius: 5px;
	padding: 8px 14px;
	color: #333;
	margin-left: -6px;
	background-color: #fff;
	border-color: #ccc;
	font-weight: 400;
	cursor: pointer;
}

.btn:hover {
	background-color: #D8D8D8;
	text-decoration: none;
}

ul {
	display: inline;
	font-size: 16px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	color: #959595;

}

li {
	font: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: left;
	color: #959595;
	margin: 0, 0, 15;
}

li a {
	display: block;
	color: #d3d3d3;
	padding: 0px 16px;
	text-decoration: none;
}

li a:hover,
.dropbtn {
	background-color: #222;
	color: black;
	text-decoration: none;
}

a.dropdown:hover {
	color: #959595;
	background-color: #222;
	text-decoration: none;
	padding: 5px, 0;
	min-width: 160px;
}

.active {
	color: white;

}

li.dropdown {
	display: inline-block;
	color: black;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	color: black;
	min-width: 160px;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 8px 10px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

nav>li>a {
	position: relative;
	display: block;

}

.logo:hover {
	color: white;
	cursor: pointer;
}

/*--------------------------------------------------------------*/
.banner {
	background-color: #9acd32;
	padding-top: 90px;
	padding-bottom: 39px;
	font-weight: 500;
	overflow: hidden;
	color: greenyellow;


}

#largehead {
	font-size: 63px;
	font-weight: 400;
	padding: 5px;
	margin: 0px 0px 15px;


}

/*the media Query is hear...*/
@media screen and (min-width: 768px) {
	.banner .superior .parent-article.footerbox. {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

#smalhead {
	font-size: 21px;
	font-weight: 400;
	margin-left: -1px;
	margin-top: 1px;
	margin-bottom: 17px;
}

.engage {
	background: #FFFFFF;
	/*engage is button*/
	color: #333333;
	margin-bottom: 12px;
	font-size: 15px;
	font-weight: 200;
	padding: 7px 14px;
	border: #ccc;
	border-radius: 4px;


}

.engage:hover {
	background-color: #D8D8D8;
	text-decoration: none;
}

.banner div {
	color: #0dfff2f;
	margin-top: 20px;
	margin-bottom: 10px;
}

/* -----------------------------------------------------*/
.heading {
	margin: 18px;
	padding-top: 45px;
}

.parent-article {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0px;
}

.super {
	color: #777;
	font-weight: 400;
	font-size: 20px;
	padding-left: 9px;
	padding-bottom: 4px;
	margin: 40px 0 20px;

}

.para {
	font-size: 12px;
	float: left;
	line-height: 1.42;
	margin-bottom: 0px 0px 10px;
	color: #777;
	padding: 15px;
}

.picture {
	width: 359px;
	height: 300px;
	margin: 10px;
}

.switch>article {
	padding-right: 10px;
	padding-left: 10px;
	column-gap: 10px;

}

/*---------------------------------->*/
.footerbox {
	background-color: rgb(218, 165, 32);
	box-sizing: border-box;
	display: flex;
	padding: 30px 0px;

}

.col-md {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -2px;
	padding: 27px;
}

.efficent {
	color: #000;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.harry {
	/*images...*/
	height: 12px;
}

.larry {
	font-size: 14px;
	color: #000;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.button2 {

	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	border-radius: 3px;
}

.button2:hover {
	background-color: #D8D8D8;
	text-decoration: none;
}

article>a {
	text-decoration: none;
	color: #337ab7;
	font-size: 25px;
	font-weight: 500;
}

.head {
	margin: 10px;
	font-weight: 400;

}

.head:hover {
	text-decoration: underline;
	color: rgb(51, 122, 183);
}

.border {
	border-bottom: 1px solid #eee;
}


/* last footer..*/

.links {
	text-decoration: none;
	color: rgb(51, 122, 183);
}

.links:hover {
	text-decoration: underline;
}

.bottomdiv {
	padding-top: 38px;
	padding-bottom: 30px;
	font-size: large;

}

.flexbox {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin: ;

}

.child-div {
	vertical-align: left;
}

#sidebar {
	overflow: hidden
}

@media screen and (max-width:760px) {
	#sidebar {
		float: none;
		width: 100%;


	}

	.container {
		display: block;
		margin: 20%;

	}
}